<h4>Daftar Nama:</h4>
<% if (mahasiswa.length < 1) { %>
    <p>Mahasiswa Masih Kosong</p>
<% } %>
<% mahasiswa.forEach(mhs => { %>
    <ul>
        <li>Nama : <%= mhs.nama %> </li>
        <li>Email: <%= mhs.email %></li>
    </ul>
<% }) %>